{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <h1>Obchod</h1>
    <h2>Ahoj</h2>
    <p>Přihlášený hráč: {{ user }}</p>

    <form method="POST" action="{% url 'shop-reset-url' %}">
        {% csrf_token %}
      <button type="submit">RESETOVAT NABÍDKU</button>
    </form>

<h2>Nabídka zboží</h2>
{% for item in items_in_shop %}
    <div>
        <h3>{{ item.item_name }}</h3>

        {% if item.img_init %}
            <p><strong>Obrázek:</strong> <img src="{{ item.img_init }}" alt="{{ item.item_name }}"></p>
        {% endif %}

        {% if item.description %}
            <p><strong>Popis:</strong> {{ item.description }}</p>
        {% endif %}

        {% if item.level_required %}
            <p><strong>Požadovaná úroveň:</strong> {{ item.level_required }}</p>
        {% endif %}

        {% if item.item_category %}
            <p><strong>Kategorie:</strong> {{ item.item_category }}</p>
        {% endif %}
        
        {% if item.slot_1_bonus and item.slot_1_value %}
            <p><strong>{{ item.slot_1_bonus }}: </strong> ({{ item.slot_1_value }})</p>
        {% endif %}

        {% if item.slot_2_bonus and item.slot_2_value %}
            <p><strong>{{ item.slot_2_bonus }}:</strong> ({{ item.slot_2_value }})</p>
        {% endif %}

        {% if item.slot_3_bonus and item.slot_3_value %}
            <p><strong>{{ item.slot_3_bonus }}:</strong> ({{ item.slot_3_value }})</p>
        {% endif %}

        {% if item.slot_4_bonus and item.slot_4_value %}
            <p><strong>{{ item.slot_4_bonus }}:</strong> ({{ item.slot_4_value }})</p>
        {% endif %}

        {% if item.price %}
            <p><strong>Cena:</strong> {{ item.price }} zlaťáků</p>
        {% endif %}

        {% if item.min_dmg %}
            <p><strong>Minimální poškození:</strong> {{ item.min_dmg }}</p>
        {% endif %}

        {% if item.max_dmg %}
            <p><strong>Maximální poškození:</strong> {{ item.max_dmg }}</p>
        {% endif %}

        {% if item.armor %}
            <p><strong>Brnění:</strong> {{ item.armor }}</p>
        {% endif %}

        {% if item.str_bonus %}
            <p><strong>Bonus k síle:</strong> {{ item.str_bonus }}</p>
        {% endif %}

        {% if item.dex_bonus %}
            <p><strong>Bonus k obratnosti:</strong> {{ item.dex_bonus }}</p>
        {% endif %}

        {% if item.int_bonus %}
            <p><strong>Bonus k inteligenci:</strong> {{ item.int_bonus }}</p>
        {% endif %}

        {% if item.vit_bonus %}
            <p><strong>Bonus k vitalitě:</strong> {{ item.vit_bonus }}</p>
        {% endif %}

        {% if item.luk_bonus %}
            <p><strong>Bonus ke štěstí:</strong> {{ item.luk_bonus }}</p>
        {% endif %}
        
        <form method="POST" action="{% url 'shop-buy-url' item.item_id %}">
            {% csrf_token %}
            <button type="submit">KOUPIT</button>
        </form>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>